@font-face
    font-family: 'SuisseIntl-Regular'
    src: url(https://fav-prom.com/html/guessfight-hr/fonts/SuisseIntl/SuisseIntl-Regular.woff)
    font-weight: 400

@font-face
    font-family: 'SuisseIntl-Medium'
    src: url(https://fav-prom.com/html/guessfight-hr/fonts/SuisseIntl/SuisseIntl-Medium.woff)
    font-weight: 500

@font-face
    font-family: 'NunitoSans10pt-Regular'
    src: url(https://fav-prom.com/html/guessfight-hr/fonts/nunito/NunitoSans10pt-Regular.woff)

@font-face
    font-family: 'NunitoSans10pt-SemiBoldItalic'
    src: url(https://fav-prom.com/html/guessfight-hr/fonts/nunito/NunitoSans10pt-SemiBoldItalic.woff)

@font-face
    font-family: 'NunitoSans10pt-BoldItalic'
    src: url(https://fav-prom.com/html/guessfight-hr/fonts/nunito/NunitoSans10pt-BoldItalic.woff)

@font-face
    font-family: 'NunitoSans10pt-ExtraBoldItalic'
    src: url(https://fav-prom.com/html/guessfight-hr/fonts/nunito/NunitoSans10pt-ExtraBoldItalic.woff)

@font-face
    font-family: 'NunitoSans10pt-BlackItalic'
    src: url(https://fav-prom.com/html/guessfight-hr/fonts/nunito/NunitoSans10pt-BlackItalic.woff)
