button.test-btn(style='position: absolute; top:0; right: 0; z-index: 100;') light
.fav__page.overflow
  .welcome
    .welcome__container
      .welcome__light
        picture
          source(media="(min-width: 1025px) " srcset="img/welcome/light-desc.png")
          source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/welcome/light-tab.png")
          source(media="(max-width: 550px)" srcset="img/welcome/light-mob.png")
          img(src="img/welcome/light-desc.png" alt="Favbet")
      .welcome__belt
        picture
          source(media="(min-width: 1025px) " srcset="img/welcome/belt-desc.png")
          source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/welcome/belt-tab.png")
          source(media="(max-width: 550px)" srcset="img/welcome/belt-mob.png")
          img(src="img/welcome/belt-desc.png" alt="Favbet")
      .welcome__title natječi se za #[br] #[span 3000* EUR ]
      a(href='#').welcome__btn.custom-btn Odigraj listić
  .detail
    .detail__container
      .detail__sub Poznat ti je osjećaj kad si nakon meča misliš: «Znao sam»? Zato provjeri osjećaj uz FAVBET i natječi se za 3 000 EUR.
      .detail__text
        p 17. veljače prati povijesni meč u kojem se susreću Oleksandr Usyk i Tyson Fury.
        p Od 12. do 17. veljače 2024. Priključi se promociji «Boksački stručnjak», prognoziraj rezultat meča Usyk - Fury, odigraj dobitan listić od 10 EUR te ostvari šansu uzeti dio nagradnog fonda od 3000 EUR.
      .detail__title
        picture
          source(media="(min-width: 1025px) " srcset="img/detail/detail-title-desc.png")
          source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/detail/detail-title-tab.png")
          source(media="(max-width: 550px)" srcset="img/detail/detail-title-mob.png")
          img(src="img/detail/detail-title-desc.png" alt="Favbet")
      .detail__list
        .detail__bg
        .detail__item
          .detail__item-img
            picture
              source(media="(min-width: 1025px) " srcset="img/detail/detail-num1-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/detail/detail-num1-tab.png")
              source(media="(max-width: 550px)" srcset="img/detail/detail-num1-mob.png")
              img(src="img/detail/detail-num1-desc.png" alt="Favbet")
          .detail__item-text Pogodi odlučujuću rundu meča
        .detail__item
          .detail__item-img
            picture
              source(media="(min-width: 1025px) " srcset="img/detail/detail-num2-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/detail/detail-num2-tab.png")
              source(media="(max-width: 550px)" srcset="img/detail/detail-num2-mob.png")
              img(src="img/detail/detail-num2-desc.png" alt="Favbet")
          .detail__item-text Klikni na gumb “Ostavi prognozu”
        .detail__item
          .detail__item-img
            picture
              source(media="(min-width: 1025px) " srcset="img/detail/detail-num3-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/detail/detail-num3-tab.png")
              source(media="(max-width: 550px)" srcset="img/detail/detail-num3-mob.png")
              img(src="img/detail/detail-num3-desc.png" alt="Favbet")
          .detail__item-text Odigraj listić od 10 EUR

      details.custom-drop.detail__drop
          summary.custom-drop-title(data-translate="detailDropTitle") Detaljі:
          .custom-drop-txt(data-translate="detailDropTxt")
            .custom-drop-txt-wrap
              p 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span 1.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
              p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
              p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
              p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit


  .forecast
    .forecast__bg
    .forecast__container
      .forecast__wrap
        .forecast__list
          button.forecast__item 1 krug
          button.forecast__item 2 round
          button.forecast__item 3 round
          button.forecast__item 4 round
          button.forecast__item 5 round
          button.forecast__item 6 round
          button.forecast__item 7 round
          button.forecast__item.active 8 round
          button.forecast__item 9 round
          button.forecast__item 10 round
          button.forecast__item 11 round
          button.forecast__item 12 round
        button.forecast__all by judges decision
      .forecast__des Your last prediction: 8
      a(href='#').forecast__link.custom-btn Odigraj listić
      .forecast__question
        .forecast__question-item.forecast__question-item-green.active The prediction is confirmed by the bet
        .forecast__question-item.forecast__question-item-orange The prediction is not confirmed by the bet
  .result
    .result__bg
    .result__container
      .tableResults
        .tableResults__container
          .tableResults__wrap#results-table
            .tableResults__head
              .tableResults__head-list
                .tableResults__head-col(data-translate="tableResults_head-place") ID
                .tableResults__head-col(data-translate="tableResults_head-id") Datum i vrijeme
                .tableResults__head-col(data-translate="tableResults_head-points") Prognoza
                .tableResults__head-col(data-translate="tableResults_head-prize") Nagrada*
            .tableResults__body
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 round
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 round
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 round
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 round
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 round
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 round
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 round
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 round
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 round
                .tableResults__body-col ************

      a(href='#').result__link.custom-btn Odigraj listić
      .result__sub *  iznos osvojene nagrade prikazan u eurima bit će poznat po završetku meča te dodan u tablicu u roku najkasnije sljedeća 2 radna dana (20.02.2024.). Nagradni fond će biti raspodijeljen među sudionicima koji su ostavili točnu prognozu odlučujuće runde te izvršili potvrdu oklade čiji su uvjeti navedeni u Službenim pravilima sudjelovanja u Promociji “Sportski prognostičar” u točkama 4.1. i 4.2.
      details.custom-drop.result__drop
        summary.custom-drop-title(data-translate="detailDropTitle") Pravila:
        .custom-drop-txt(data-translate="detailDropTxt")
          .custom-drop-txt-wrap
            p 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 1.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit








