.fav__page#predictor
  .menu
    button.menu-btn menu
    .menu-btns
      button.black-btn dark
      button.en-btn en
      button.betTrue betTrue
      button.betFalse betFalse
      button.unAuth unAuth
  .welcome
    .welcome__container
      .welcome__img
          picture.uk
            source(media="(min-width: 1025px) " srcset="../img/welcome/welcome-title-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="../img/welcome/welcome-title-tab.png")
            source(media="(max-width: 550px)" srcset="../img/welcome/welcome-title-mob.png")
            img(src="../img/welcome/welcome-title-desc.png" alt="Favbet")
          picture.en
            source(media="(min-width: 1025px) " srcset="../img/welcome/welcome-title-desc-en.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="../img/welcome/welcome-title-tab-en.png")
            source(media="(max-width: 550px)" srcset="../img/welcome/welcome-title-mob-en.png")
            img(src="../img/welcome/welcome-title-desc-en.png" alt="Favbet")
      .welcome__title(data-translate='welcomeTitle')
      a(href='/login/' role='button' data-translate='loginBtn').welcome__btn.custom-btn.unauth-msg
      a(href='/sports/event/boxing/39915601/' role='button' data-translate='betBtn').welcome__btn.custom-btn.took-part.hide
  .detail
    .detail__container
      .detail__sub(data-translate='detailSub')
      .detail__text(data-translate='detailTxt')
      .detail__title(data-translate="detailsTitle") Kako sudjelovati?
      .detail__list
        .detail__bg
        .detail__item
          .detail__item-img
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/guessfight-hr/img/detail/detail-num1-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/guessfight-hr/img/detail/detail-num1-tab.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/guessfight-hr/img/detail/detail-num1-mob.png")
              img(src="https://fav-prom.com/html/guessfight-hr/img/detail/detail-num1-desc.png" alt="Favbet")
          .detail__item-text(data-translate='detail-1')
        .detail__item
          .detail__item-img
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/guessfight-hr/img/detail/detail-num2-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/guessfight-hr/img/detail/detail-num2-tab.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/guessfight-hr/img/detail/detail-num2-mob.png")
              img(src="https://fav-prom.com/html/guessfight-hr/img/detail/detail-num2-desc.png" alt="Favbet")
          .detail__item-text(data-translate='detail-2')
        .detail__item
          .detail__item-img
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/guessfight-hr/img/detail/detail-num3-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/guessfight-hr/img/detail/detail-num3-tab.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/guessfight-hr/img/detail/detail-num3-mob.png")
              img(src="https://fav-prom.com/html/guessfight-hr/img/detail/detail-num3-desc.png" alt="Favbet")
          .detail__item-text(data-translate='detail-3')
      details.custom-drop.detail__drop
          summary.custom-drop-title(data-translate="detailDropTitle")
          .custom-drop-txt
            .custom-drop-txt-wrap(data-translate="detailDropTxt")
  .forecast
    .forecast__bg
    .forecast__container
      .forecast__wrap
        .forecast__title(data-translate="forecastTitle")
        .forecast__list
          button.forecast__item._active(data-team-id="1") 1 #[span(data-translate="round-1")]
          button.forecast__item(data-team-id="2") 2 #[span(data-translate="round")]
          button.forecast__item(data-team-id="3") 3 #[span(data-translate="round")]
          button.forecast__item(data-team-id="4") 4 #[span(data-translate="round")]
          button.forecast__item(data-team-id="5") 5 #[span(data-translate="round")]
          button.forecast__item(data-team-id="6") 6 #[span(data-translate="round")]
          button.forecast__item(data-team-id="7") 7 #[span(data-translate="round")]
          button.forecast__item(data-team-id="8") 8 #[span(data-translate="round")]
          button.forecast__item(data-team-id="9") 9 #[span(data-translate="round")]
          button.forecast__item(data-team-id="10") 10 #[span(data-translate="round")]
          button.forecast__item(data-team-id="11") 11 #[span(data-translate="round")]
          button.forecast__item(data-team-id="12") 12 #[span(data-translate="round")]
          button.forecast__all(data-team-id="13" data-translate="fullRound")
      .forecast__des(data-translate="forecastLast").hide
      a(href='/login/' role='button' data-translate='loginBtn').forecast__link.custom-btn.unauth-msg
      .forecast__link.custom-btn.took-part.predictBtn.hide(role='button' data-translate='partBtn')
      .forecast__question
        .forecast__question-item.forecast__question-item-green(data-translate='forecastTrue')
        .forecast__question-item.forecast__question-item-orange(data-translate='forecastFalse')
  .result
    .result__bg
    .result__title(data-translate="resultsTitle")
    .result__container
      .tableResults
        .tableResults__container
          .tableResults__wrap#results-table
            .tableResults__head
              .tableResults__head-list
                .tableResults__head-col(data-translate="tableResults_head-place")
                .tableResults__head-col(data-translate="tableResults_head-id")
                .tableResults__head-col(data-translate="tableResults_head-points")
                .tableResults__head-col(data-translate="tableResults_head-prize")
            .tableResults__body
      a(href='/login/' role='button' data-translate='loginBtn').result__link.custom-btn.unauth-msg
      a(href='/sports/event/boxing/39915601/' role='button' data-translate='betBtn').result__link.custom-btn.took-part.hide
      .result__sub(data-translate='resultSub')
      details.custom-drop.result__drop
        summary.custom-drop-title(data-translate="mainDetails")
        .custom-drop-txt
          .custom-drop-txt-wrap(data-translate="mainDetailsTxt")