button.test-btn(style='position: absolute; top:0; right: 0; z-index: 100;') light
.fav__page.overflow
  .welcome
    .welcome__container
      .welcome__light
        picture
          source(media="(min-width: 1025px) " srcset="img/welcome/light-desc.png")
          source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/welcome/light-tab.png")
          source(media="(max-width: 550px)" srcset="img/welcome/light-mob.png")
          img(src="img/welcome/light-desc.png" alt="Favbet")
      .welcome__belt
        picture
          source(media="(min-width: 1025px) " srcset="img/welcome/belt-desc.png")
          source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/welcome/belt-tab.png")
          source(media="(max-width: 550px)" srcset="img/welcome/belt-mob.png")
          img(src="img/welcome/belt-desc.png" alt="Favbet")
      .welcome__title змагайся #[br] за #[span 1 000 000 ₴* ]
      a(href='#').welcome__btn.custom-btn зробити прогноз
  .detail
    .detail__container
      .detail__sub Знайоме відчуття, коли після бою ти такий: «Я ж казав»? Тоді перевір чуйку з FAVBET та змагайся за 1 000 000 гривень.
      .detail__text
        p 17 лютого вболівай за Олександра Усика, який зустрінеться в історичному поєдинку з Тайсоном Ф'юрі.
        p З 8 по 17 лютого 2024 року долучайся до промо «Вгадай раунд», прогнозуй результат бою Усик - Ф'юрі, роби виграшну ставку від ХХ UAH та отримуй шанс розділити призовий фонд у 1 000 000 гривень.
        p Перемоги тобі, Олександре.
      .detail__title
        picture
          source(media="(min-width: 1025px) " srcset="img/detail/detail-title-desc.png")
          source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/detail/detail-title-tab.png")
          source(media="(max-width: 550px)" srcset="img/detail/detail-title-mob.png")
          img(src="img/detail/detail-title-desc.png" alt="Favbet")
      .detail__list
        .detail__bg
        .detail__item
          .detail__item-img
            picture
              source(media="(min-width: 1025px) " srcset="img/detail/detail-num1-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/detail/detail-num1-tab.png")
              source(media="(max-width: 550px)" srcset="img/detail/detail-num1-mob.png")
              img(src="img/detail/detail-num1-desc.png" alt="Favbet")
          .detail__item-text Обери, в якому раунді закінчиться бій
        .detail__item
          .detail__item-img
            picture
              source(media="(min-width: 1025px) " srcset="img/detail/detail-num2-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/detail/detail-num2-tab.png")
              source(media="(max-width: 550px)" srcset="img/detail/detail-num2-mob.png")
              img(src="img/detail/detail-num2-desc.png" alt="Favbet")
          .detail__item-text Натисни кнопку «Зробити прогноз»
        .detail__item
          .detail__item-img
            picture
              source(media="(min-width: 1025px) " srcset="img/detail/detail-num3-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/detail/detail-num3-tab.png")
              source(media="(max-width: 550px)" srcset="img/detail/detail-num3-mob.png")
              img(src="img/detail/detail-num3-desc.png" alt="Favbet")
          .detail__item-text Зроби виграшну ставку від 200 UAH



      details.custom-drop.detail__drop
          summary.custom-drop-title(data-translate="detailDropTitle") Деталі:
          .custom-drop-txt(data-translate="detailDropTxt")
            .custom-drop-txt-wrap
              p 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span 1.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
              p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
              p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
              p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit


  .forecast
    .forecast__bg
    .forecast__container
      .forecast__wrap
        .forecast__list
          button.forecast__item 1 раунд
          button.forecast__item 2 раунд
          button.forecast__item 3 раунд
          button.forecast__item 4 раунд
          button.forecast__item 5 раунд
          button.forecast__item 6 раунд
          button.forecast__item 7 раунд
          button.forecast__item.active 8 раунд
          button.forecast__item 9 раунд
          button.forecast__item 10 раунд
          button.forecast__item 11 раунд
          button.forecast__item 12 раунд
        button.forecast__all за рішенням суддів
      .forecast__des Твій останній прогноз: 8 раунд
      a(href='#').forecast__link.custom-btn зробити прогноз
      .forecast__question
        .forecast__question-item.forecast__question-item-green.active Прогноз підтверджено ставкою
        .forecast__question-item.forecast__question-item-orange Прогноз не підтверджено ставкою
  .result
    .result__bg
    .result__container
      .tableResults
        .tableResults__container
          .tableResults__wrap#results-table
            .tableResults__head
              .tableResults__head-list
                .tableResults__head-col(data-translate="tableResults_head-place") ID
                .tableResults__head-col(data-translate="tableResults_head-id") Дата та час
                .tableResults__head-col(data-translate="tableResults_head-points") Прогноз
                .tableResults__head-col(data-translate="tableResults_head-prize") Приз*
            .tableResults__body
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 раунд
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 раунд
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 раунд
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 раунд
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 раунд
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 раунд
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 раунд
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 раунд
                .tableResults__body-col ************
              .tableResults__row
                .tableResults__body-col 1******67
                .tableResults__body-col 08.08.2023 / 20:00
                .tableResults__body-col 2 раунд
                .tableResults__body-col ************

      a(href='#').result__link.custom-btn зробити прогноз
      .result__sub *сума отриманого призу у вигляді ігрових замінників гривні буде відома після закінчення бою та додана в таблицю наступного робочого дня після закінчення бою (28.08.2023р.). Призовий фонд буде розподілено між учасниками, які вказали в якому раунді закінчиться бій та зробили підтверджувальну ставку, умови якої прописані в Офіційних правилах участі в Акції «Вгадай раунд» в п. 9.3. та 9.4.
      details.custom-drop.result__drop
        summary.custom-drop-title(data-translate="detailDropTitle") Офіційні правила участі в Акції «Вгадай раунд»
        .custom-drop-txt(data-translate="detailDropTxt")
          .custom-drop-txt-wrap
            p 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 1.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
            p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
              span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit








